.container-filtros {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.container-filtros h3 {
  height: 30px;
  font-family: Nunito;
  line-height: 30px;
  color: #212529;
  font-weight: bold;
  font-size: 20px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.todos {
  height: 40px;
  width: 69px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #fd377e;
  border: 1.4px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
}
.entradas {
  height: 40px;
  width: 87px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #868e96;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
}
.saidas {
  height: 40px;
  width: 92px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #868e96;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
}
