.container-card {
  width: 300px;
  height: 87px;
  background: #f8f9fa;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 39px;
}
.container-1 h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
  margin-top: 8px;
}
.container-1 p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #868e96;
  margin-bottom: 11px;
}
.container-2 span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}
.container-2 button {
  color: #868e96;
  width: 22px;
  height: 22px;
  background: #e9ecef;
  border-radius: 2.46px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 560px) {
  .container-card {
    width: 560px;
    justify-content: space-between;
  }
  .container-1 {
    margin-left: 13px;
  }
  .container-1 p {
    width: 62px;
    height: 27px;
  }

  .container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-2 button {
    margin-left: 27px;
    margin-right: 18px;
  }
  .container-1 h3 {
    width: 337px;
    height: 39px;
  }
}
/* @media screen and (min-width: 400px) {
  .container-card {
    width: 363px;
  }
} */
